*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
}
body{
    /* background-color: black; */
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 120px;
    width: 100%;
    background: #d18282c5;
    box-shadow: rgba(0, 0, 0,0.31);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a ::after{
    content: '';
    width: 100%;
    height: 4px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 20px;
}
nav .profile{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
    position:centre;
    

}
nav .profile .image{
    width: 100%;
    height: 100%;
    border-radius: 90%;
    
    /* position: relative; */
}
nav .profile-card{
    text-align: center;
    padding: 20px;
    border: 1px solid;
    background-color: black;

}
nav .about{
    margin-top: 20;
    height: 10vh;
    padding: 30px;
    background-color: blue;
}

nav .header{
    margin: 10;
    padding: 10,
    

}



.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./20260123_092817.JPG);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

image{
    width: 100%;
    height: 100%;
}
.main .leftWarrper{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(3px); */
}

.main .leftWarrper .container{
    width: 80%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    padding: 8px;
}

.aboutMe{
    width: 100%;
    height: 100vh;
    /* background: #000;s */
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-link{
    margin-left: 80px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    word-spacing: 80px;
    

}



    




    



















    







